@model HoodiShop.Models.BeatPossedutiModel
@{
    ViewBag.Title = "BasiPossedute";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}

<h2>BasiPossedute</h2>
@foreach (var item in Model.listaBeatPosseduti)
{
    <tr>
        <td>@item.name</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td><a href="/Reserved/DownloadBeat/@item.filename">Download</a></td>
    </tr>
}

