@model HoodiShop.Models.ProfiloModel
@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}

<h2>Profilo</h2>
<div>Username: @Model.username</div>
<div>Email: @Model.email</div>
<a href="/Reserved/BeatPosseduti">Visualizza Basi Possedute</a>


